

body{
    position: relative;
    margin-left: 4px;
    width: 100%;
    margin-top: 0;
}

.body{
    width: 85%;
}
.container{
    padding: 3px;
    display: flex;
    gap: 5px;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(155, 173, 238);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: sticky;
    z-index: 2;
    margin-top: 0;
    top: 0;
}

.flex{
    display: flex;
    justify-content: space-between;
    width: 97%;
}

.icon{
    font-size: 3rem;
    cursor: pointer;
    display: flex;
    width: 10%;
    justify-content: space-between;
    align-items: center;
} 
.fa{
    text-decoration: none;
}

.side-nav{
    text-decoration: none;
}

.side-nav:hover{
    background-color: turquoise;
    padding: 5px 3rem 5px 3rem;
    border-radius: 1rem;
}


.sidebar{
    width: 15%;
    border-right-style: solid;
    position: static;
    text-align: center;
}

.btn{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

button{
    border-radius:1rem ;
    padding: 1rem;
    background-color: skyblue;
}

.online,.offline{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}

.status{
    position: relative;
}

.on{
    position: absolute;
    background-color: limegreen;
    padding: 2px;
    border-radius: 50%;
    bottom: 0;
    margin-left: -3rem;

}

.off{
    position: absolute;
    background-color: red;
    padding: 2px;
    border-radius: 50%;
    bottom: 0;
    margin-left: -3rem;

}

.p{

    position: relative;
    

}
#span1{
    position: absolute;
    background-color: blue;
    padding: 3px  7px;
    border-radius:50% ;
    font-size: 1rem;
    margin-top: -8px;
}


#span3{
    background-color: hotpink;
    padding: 3px 10px;
    border-radius: 50%;
    position: absolute;
    margin-top: -2rem;
    margin-left: -5.5rem;
}

#span4{
    background-color: blue;
    padding: 3px 8px;
    border-radius: 50%;
    position: absolute;
    margin-top: -2rem;
}

#span5{
    position: absolute;
    background-color: crimson;
    font-size: 1rem;
    padding: 4px 5px;
    border-radius: 50%;
    margin-top: -1rem;
    margin-left: -1rem;
}



.carbon{
    border: 0;
    width: 50rem;
    margin: 3rem;
    height: 30rem;
}

@media only screen and (max-width: 820px) {

    html{
        font-size: 10px;
        width: 98%;
    }

    header{
        text-align: left;
    }
}
