body{
    position: relative;
    margin-left: 4px;
    margin-top: 0;
}
.container{
    padding: 3px;
    display: flex;
    gap: 5px;
    position: relative;

}
.body{
    width: 85%;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(155, 173, 238);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: sticky;
    z-index: 2;
    margin-top: 0;
    top: 0;
}

.flex{
    display: flex;
    justify-content: space-between;
    width: 97%;
}

.icon{
    font-size: 3rem;
    cursor: pointer;
    display: flex;
    width: 10%;
    justify-content: space-between;
    align-items: center;
} 
.fa{
    text-decoration: none;
}



.side-nav{
    text-decoration: none;
}

.side-nav:hover{
    background-color: turquoise;
    padding: .3rem 3rem .3rem 3rem;
    border-radius: 1rem;
}




.sidebar{
    width: 15.2%;
    height: fit-content;
    border-right-style: solid;
    position: static;
    text-align: center;
}

.nature{
    background-color: chartreuse;
    width: fit-content;
    position: relative;
    width: 25rem;
    padding: 3px;
    border: 1px solid green;
    text-align: center;

}



#nature{
    position: relative;
    width: 23rem;
    padding: 3px;
    text-align: center;

}

.overlay{
    position: absolute;
    color: black;
    font-size: 3rem;
    top: 50%;
    left: 15%;

}

.nature1{
    box-shadow: 8px 10px  rgba(213, 221, 218, 0.675);
    height: 20rem;
    width: 47rem;
    display: flex;
    background-color: chartreuse;
    padding: 3px;
    border: 1px solid green;
    text-align: center;
    box-sizing: border-box;
    position: relative;

}

.remove{
    position: absolute;
    right: 0;
    top: 0;
}

.remove:hover{
    color: red;
}
#nat{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.imghold{
    width: 250%;
    box-sizing: border-box;
}


.text{
    display: flex;
    flex-direction: row;
    width: 70%;
}

button{
    border-radius: 1rem;
    background-color: skyblue;
    cursor: pointer;
    padding: 1rem;

}


.text-card{

    width: 20rem;
    background-color: skyblue;
    padding: 3px;
    border: 1px solid green;
    text-align: center;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;

}

.text-card2{
    position: relative;
    width: 20rem;
    background-color: skyblue;
    padding: 3px;
    border: 1px solid green;
    text-align: center;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;

}


.badge{
    position: absolute;
    font-size: 2rem;
    top: 5px;
    right: 5px;
    width: 4rem;
    padding-top: 6px;
    border-radius: 50%;
    height: 3rem;
    text-align: center;
}

.heart:hover {
color: red;
}

.btn{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.carbon{
    width: 50rem;
    height: 30rem;
    border: 0;
    margin-top: 3rem;

}

@media only screen and (max-width: 820px) {

    html{
        font-size: 10px;
        width: 98%;
    }

    header{
        text-align: left;
    }
}

