

body{
    position: relative;
    margin-left: 4px;
    width: 100%;
    margin-top: 0;
}

.body{
    width: 85%;
}
.container{
    padding: 3px;
    display: flex;
    gap: 5px;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(155, 173, 238);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: sticky;
    z-index: 2;
    margin-top: 0;
    top: 0;
}

.flex{
    display: flex;
    justify-content: space-between;
    width: 97%;
}

.icon{
    font-size: 2.5rem;
    cursor: pointer;
    display: flex;
    width: 10%;
    justify-content: space-between;
    align-items: center;
} 
.fa{
    text-decoration: none;
}

.side-nav{
    text-decoration: none;
}


.sidebar{
    width: 15%;
    border-right-style: solid;
    position: static;
    text-align: center;
}

.btn{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.button{
    border-radius:1rem ;
    padding: 1rem;
    background-color: skyblue;
}

.icon{
    font-size: 3rem;
    cursor: pointer;
}



.carbon{
    border: 0;
    width: 50rem;
    margin: 3rem;
    height: 30rem;
}

.toast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 20rem;
}

.toasts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18rem;
}
.tst{
    border-color:aqua ;
}

.p-toast{
    padding: 3px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    width:25rem;
    height:2.5rem;
    border-radius: 3px;
}

.s-toast{
    background-color:blue;
    display: flex;
    justify-content: space-between;
    width:25rem;
    height:2.5rem;
    padding: 3px;
    border-radius: 3px;
}

.d-toast{
    background-color: red;
    display: flex;
    justify-content: space-between;
    width:25rem;
    height:2.5rem;
    border-radius: 3px;
    padding: 3px;
}

.w-toast{
    display: flex;
    justify-content: space-between;
    background-color:orange ;
    width:25rem;
    height:2.5rem;
    border-radius: 3px;
    padding: 3px;
}

.demo{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.demo-toast{
    background-color: red;
    padding: 1rem;
    border-radius: 5px;
}

#toast{
    display:none
}


@media only screen and (max-width: 820px) {

    html{
        font-size: 10px;
        width: 98%;
    }

    header{
        text-align: left;
    }
}
