

body{
    position: relative;
    margin-left: 4px;
    width: 100%;
}

.body{
    width: 100%;
}
.container{
    padding: 3px;
    display: flex;
    gap: 5px;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    background-color: rgb(155, 173, 238);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding:1px;
    top: 0;
}

.side-nav{
    text-decoration: none;
}

.side-nav:hover{
    background-color: turquoise;
    padding: 5px 3rem 5px 3rem;
    border-radius: 1rem;
}


.sidebar{
    width: 16rem;
    height: fi;
    border-right-style: solid;
    position: static;
    text-align: center;
}

.btn{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.button{
    border-radius:1rem ;
    padding: 1rem;
    background-color: skyblue;
}

.icon{
    font-size: 3rem;
    cursor: pointer;
}



.carbon{
    border: 0;
    width: 50rem;
    margin: 3rem;
    height: 30rem;
}

.toast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.p-toast{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    width:20rem;
    height:3rem;
}

.s-toast{
    background-color:blue;
    display: flex;
    justify-content: space-between;
    width:20rem;
    height:3rem;
}

.d-toast{
    background-color: red;
    display: flex;
    justify-content: space-between;
    width:20rem;
    height:3rem;
}

.w-toast{
    display: flex;
    justify-content: space-between;
    background-color:orange ;
    width:20rem;
    height:3rem;
}

.demo{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.demo-toast{
    background-color: red;
    padding: 1rem;
    border-radius: 5px;
}

#toast{
    display:none
}


@media only screen and (max-width: 820px) {

    html{
        font-size: 10px;
        width: 98%;
    }

    header{
        text-align: left;
    }
}
